.component-panels {
    .component-tab {
        &.active {
            background: @color-1;
        }
    }

    .component-tab-content {
        color: @color-3;
        background: @color-1;
    }
}
